/*index.css*/
aside {
  text-align: center;
  width: 50%;
  padding: 20px;
  margin: auto;
}

.dropZone {
    text-align: center;
    border: 3px black solid;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    margin: auto;
  }